* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

/* Links */

a, a:link, a:visited  {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover  {
    color: inherit;
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: bottom;
}

img, svg {
	max-width: 100%;
    width: auto;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


/* new */

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    font-style: normal;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    padding: 30px 0 30px 0;
    background-color: #fff;
    max-width: 100%;
    width: 100%;
}


.wrapper {
    display: flex;
	flex-direction: column;
    min-height: 100%;
    position: relative;
}

.content {
    flex: 1 0 auto;
}

#footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1730px;
    padding: 0px 15px;
    margin: 0 auto;
}

