._filterStyle {
     filter: blur(2px);
     transition: all 0.5s linear;
}

._m-auto {
     margin: 0 auto;
}


.menu--seeall-close_display {
     display: none;
}

.d-none {
     display: none;
}

.d-block {
     display: block;
}

.burger__menu--openView {
     display: none;
}

.burger__menu--action {
     display: none !important;
}


/* burger__menu */

.burger__menu--action {
     display: flex;
     flex-direction: column;
     max-width: 100px;
     width: 100%;

     margin: 0 auto 0 0;
     text-align: center;
     cursor: pointer;
}

.burger__menu--item {
     max-width: 30px;
     width: 100%;
     height: 5px;
     background-color: #000;
}

.burger__menu--item:not(:last-child) {
     margin-bottom: 10px;
}

.burger__menu--openView {
     position: absolute;
     max-width: 100%;
     width: 100%;
     height: 100%;
     background-color: #333;
     z-index: 100000;
}






/* header */

.header__wrapper {
     display: flex;
     justify-content: end;
     align-items: center;

     max-width: 100%;
     width: 100%;
}

.header__nav {
     margin: 0 auto;
     text-align: center;
}

.header__menu {
     display: flex;
     align-items: center;
     justify-content: center;
}

.hmenu__item:not(:last-child) {
     margin-right: 56px;
}

.hmenu__item {
     font-weight: 500;
     font-size: 25.5738px;
     line-height: 42px;
     transition: all 0.3s ease;
}

.hmenu__item:hover {
     color: #90E051;
}


.header__links--box {
     display: flex;
}

.header__bagbox {
     position: relative;
}

.header-counter {
     position: absolute;
     bottom: -8px;
     right: 10px;




     display: inline-block;
     padding: 3px 5px;
     border-radius: 50px;
     color: #fff;
     background-color: #ff0000;
}

.header__link:not(:last-child) {
     margin-right: 18px;
}

/* intro */

.section__intro {
     padding: 160px 0 50px 0;
}

.intro__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.intro__content {
     max-width: 655px;
}

.intro__title {
     font-weight: 700;
     font-size: 116.321px;
     line-height: 192px;
     margin-bottom: 30px;
}

.intro__title span {
     color: #90E051;
}

.intro__subtitle {
     font-weight: 500;
     font-size: 22.3333px;
     line-height: 34px; 
}


.intro__btnbox {
     margin-top: 62px;
     display: flex;
}

.btn-text {
     padding: 21px 0;
     font-weight: 500;
     font-size: 29.3999px;
     line-height: 49px;
     color: #90E051;
     text-align: center;
     transition: all 0.3s ease;
     border-radius: 20px;
}

.btn-text:not(:last-child) {
     margin-right: 45px;
}

.btn-active {
     padding: 21px 72px;
     background-color: #90E051;
     color: #fff;
}


/* stats */

.section__stats {
     padding: 40px 0;
}

.stats__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.stats__item {
     display: flex;
     flex-wrap: wrap;
}

.stats__item:not(:last-child) {
     margin-right: 107px;
}

.stats__inner {
     text-align: center;
     display: flex;
     flex-direction: column;
}

.stats__inner:not(:last-child) {
     margin-right: 100px;
}


.stats__icon {
     display: block;
     width: 150px;
     height: 150px;
     margin: 0 auto 16px auto;
}

.stats__title {
     font-weight: 600;
     font-size: 15.9429px;
     line-height: 21px;
     margin-bottom: 15px;
}

.stats__info {
     font-weight: 500;
     font-size: 26.5715px;
     line-height: 32px;
}


/* menu */


.section__menu {
     padding: 64px 0 80px 0;
     position: relative;
}

.backburger {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 0;
}


.menu__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: right;
     transition: all 0.3s linear;
}

.menu__box {
     padding: 52px 46px 79px 46px;
     background-color: #90E051;
     box-shadow: 0px 17.2708px 107.943px -21.5886px rgba(0, 0, 0, 0.25);
     border-radius: 69.0833px;
     display: flex;
     position: relative;
     box-shadow: 0 0 330px 0 rgba(0, 0, 0, .3) inset; 
}

.menu__box-wrapper {
     max-width: 100%;
     width: 100%;
     margin-top: 78px;
     position: relative;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.menu__box-wrapper:not(:last-child) {
     margin-right: 25px;
}

.menu__row {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     max-width: 100%;
     width: 100%;
}

.menu__row:not(:last-child) {
     margin-bottom: 45px;
}






.menu__card {
     padding: 92px 34px 15px 19px;
     background: #FFFFFF;
     box-shadow: 0px 5.84756px 36.5472px -7.30945px rgba(0, 0, 0, 0.25);
     border-radius: 23.3902px;
     position: relative;
}

.menu__card:not(:last-child) {
     margin-right: 25px;
}

.menu__card--content {
     max-width: 176px;
}

.card--img {
     position: absolute;
     top: -35px;
     left: 50%;
     transform: translateX(-50%);
}

.card__title {
     font-weight: 700;
     font-size: 16.7873px;
     line-height: 20px;
     letter-spacing: -0.025em;
     margin-bottom: 14px;
}

.card__subtitle {
     font-weight: 500;
     font-size: 14.2047px;
     line-height: 17px;
     letter-spacing: -0.025em;
     margin-bottom: 21px;
}

.card__stars {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
}

.stars__icon {
     margin-right: 5px;
}

.stars__text {
     font-weight: 400;
     font-size: 15.5964px;
     line-height: 19px;
     letter-spacing: -0.03em;
}

.card__price {
     font-weight: 400;
     font-size: 16.5955px;
     line-height: 23px;
     letter-spacing: -0.03em;
     color: #90E051;     
}

.card__price span {
     font-weight: 700;
     font-size: 18.5955px;
}

.card-addbag {
     position: absolute;
     bottom: 12px;
     right: 15px;



     padding: 4px 8px;
     border-radius: 50px;
     color: #fff;
     font-size: 26px;
     background: #90E051;
     box-shadow: 0px 5.59872px 18.1959px -1.39968px rgba(0, 0, 0, 0.25);   
}


.menu--seeall {
     position: absolute;
     bottom: 8px;
     left: 50%;
     transform: translateX(-50%);


     max-width: 265px;
     width: 100%;
     padding: 18px 0;
     border-radius: 17.5029px;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 22.3521px;
     line-height: 26px;
     letter-spacing: -0.025em;
     color: #90E051;
     background-color: #fff;
     transition: all 0.3s ease;
     transform: 0.3s opacity;
}

.menu--seeall:focus {
     opacity: 0;
}



.menu__search {
     position: absolute;
     background-color: #fff;
     top: 36px;
     left: 46px;
     border-radius: 20px;
     padding: 12px 10px 12px 14px;
}

.menu__search--icon {
     margin-right: 7px;
}

.menu__input {
     font-weight: 400;
     font-size: 16.7873px;
     line-height: 20px;
     color: #6D6C6C;
}

.menu__input::placeholder {
     font-weight: 400;
     font-size: 16.7873px;
     line-height: 20px;
     color: #6D6C6C;
}

.menu__seeall--close {
     position:  absolute;
     left: 325px;
     top: 38px;
     font-size: 40px;
     color: #6D6C6C;
}



/* customer */

.section__customer {
     padding: 108px 0px 180px 0;
}

.customer__wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 100%;
     width: 100%;
}

/* customer content */

/*customer img content */

.customer__imgcontent {
     position: relative;
}

.customer--img {
     border-radius: 10.6969px;
}

.customer__card {
     position: absolute;
     bottom: -125px;
     left: -93px;
     z-index: 7000;


     display: inline-block;
     padding: 40px 38px;
     background-color: #FFFFFF;
     box-shadow: 0px 5.03805px 50.3805px rgba(0, 0, 0, 0.1);
     border-radius: 10.6969px;

}

.customer__card--content {
     max-width: 472px;
     position: relative;
}

.customer__card--title {
     font-weight: 700;
     font-size: 25.1902px;
     line-height: 35px;
     color: #333;
}

/* starbox */

.rating {
     display: flex;
     align-items: flex-end;
     font-size: 35px;
     line-height: 0.75;
}
.rating__body {
     position: relative;
}

.rating__body::before {
     content: "★★★★★";
     display: block;
}

.rating__active {
     position: absolute;
     width: 0%;
     height: 100%;
     top: 0;
     left: 0;
     overflow: hidden;
}

.rating__active::before {
     content: "★★★★★";
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     color: #ffd300;
}

.rating__items {
     display: flex;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
}
.rating__item {
     flex: 0 0 20%;
     height: 100%;
     opacity: 0;
     cursor: pointer;
}
.rating__value {
     font-size: 50%;
     line-height: 1;
     padding: 0px 0px 0px 10px;
}







.customer__card--subtitle {
     font-weight: 400;
     font-size: 20.1522px;
     line-height: 30px;
     color: #828282;
}

.fa-star-sett {
     font-size: larger;
     cursor: pointer;
     border: #333;
     color: red;
}

.star_active {
     color: #90E051;
}

.star--pechat {
     color: #90E051;
}

.customer__card--price {
     font-weight: 700;
     font-size: 20.1522px;
     line-height: 30px;
     color: #4f4f4f;
     position: absolute;
     top: 0;
     right: 0;
     z-index: 1000;
}



/* customer slider style */

.customer__slider {
     max-width: 675px;
     width: 100%;
}

.slide {
     cursor: pointer;
}


.slider__title {
     font-weight: 700;
     font-size: 60.4566px;
     line-height: 71px;
     margin-bottom: 38px;
     color: #333333;
     font-feature-settings: 'kern' off;
}

.slider__subtitle {
     font-weight: 400;
     font-size: 20.1522px;
     line-height: 30px;
     color: #828282;
     margin-bottom: 60px;
}

.slider__img {
     margin-right: 20px;
}

.slider__peopleblock {
     display: flex;
     align-items: center;
}

.slider__peopleblock--name {
     font-weight: 700;
     font-size: 22.6712px;
     line-height: 33px;
     color: #90E051;
}

.slider__peopleblock--specialty {
     font-weight: 400;
     font-size: 18.8392px;
     line-height: 28px;  
     color: #828282;
}

.slider__arrow--block {
     display: flex;
     justify-content: flex-end;
     max-width: 100%;
     width: 100%;

     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
}

.slider__arrow--wrapper {
     display: flex;
     max-width: 100%;
     width: 100%;
}

.fa-arrow-sett {
     font-size: 30px;
}

.slick-arrow {
     top: 105% !important;
}

.slick-prev {
     left: 90% !important;
}

.slick-arrow::before {
     padding: 6px;
     background-color: #333;
     color: #333;
     border-radius: 100px;
}

.slick-next {
     right: 10px !important;
}




/* section mobile */

.section__mobile {
     padding: 119px 0 126px 0;
}

.section__padd-one {
     position: relative;
     padding: 218px 0px 102px 0px;
}

.section__mobile--inner {
     padding: 50px 0 108px 0;
     background: #90E051;
     border-radius: 20px;
}

.mobile__wrapper {
     max-width: 100%;
     width: 100%;
}

.mobile__text {
     margin: 0px 0px 0px auto;
     padding-right: 110px;
     max-width: 930px;
     font-weight: 700;
     font-size: 65.1356px;
     line-height: 77px;
     color: #fff;
}

.hamburger--leftside {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 5000;
}

.iphone--big {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 272px;
     z-index: 5010;
}

.iphone--small {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 472px;
     z-index: 5005;
}

.hamburger--rightside {
     position: absolute;
     bottom: 0;
     right: 0;
     z-index: 5010;
}


/* about US */


.section__aboutus {
     padding: 0px 0px 250px 0px;
}

.aboutus__wrapper {
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: end;
}

.aboutus__content {
     position: relative;
     margin-right: 120px;
}

.aboutus--burgerright {
     position: absolute;
     bottom: -129px;
     right: -130px;
}

.aboutus__content--card {
     position: absolute;
     left: -556px;
     bottom: -115px;


     padding: 35px 30px 72px 30px;
     background-color: #FFFFFF;
     box-shadow: 0px 6.10138px 61.0138px rgba(0, 0, 0, 0.1);
     border-radius: 12.9546px;
     max-width: 662px;
     width: 100%;
}

.aboutus__title {
     font-weight: 700;
     font-size: 40.2598px;
     line-height: 58px;
     color: #000;
}

.aboutus__subtitle {
     font-weight: 700;
     font-size: 28.4187px;
     line-height: 41px;
     color: #828282;
}


/* footer */


.footer {
     position: relative;
     padding-top: 174px;
}


.footer__formwrapper {
     max-width: 100%;
     width: 100%;
     position: relative;
}

.footer__subscribeblock {
     position: absolute;
     top: -174px;
     left: 50%;
     transform: translateX(-50%);




     box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
     border-radius: 20px;
     background-color: #fff;
     padding: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 1320px;
     width: 100%;
}

.footer__subscribe--text {
     font-weight: 700;
     font-size: 32px;
     line-height: 40px;
     color: #90E051;
     max-width: 250px;
}

.footer__form {
     border: 1px solid #90E051;
     border-radius: 5px;
     display: flex;
     align-items: center;
     max-width: 560px;
     width: 100%;
}

.footer__form--borderRed{
     border: 1px solid #ff0000;
}


.footer__inputemail {
     padding: 16px;
     width: 70%;
}

.footer__inputemail::placeholder {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #90E051;
}

.footer__btnaction-inactive {
     padding: 16px;
     width: 30%;
     text-align: center;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #fff;
     background-color: #39740c;
     cursor: not-allowed;
}

.footer__btnaction-active {
     padding: 16px;
     width: 30%;
     text-align: center;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #fff;
     cursor: pointer;
     background-color: #90E051;
}


.footer__socialblock {
     display: flex;
     align-items: center;
}

.footer__socialblock--item {
     width: 30px;
     height: 32px;
     background-color: #90E051;
     border-radius: 4px;
     position: relative;
     transition: all 0.3s ease;
}

.footer__socialblock--item:hover {
     scale: 1.2;
}



.footer__socialblock--item:not(:last-child){
     margin-right: 12px;
}

.footer__socialblock--item a i {
     color: #fff;
     position: absolute;
     z-index: 10000;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 20px;
}

.footer__wrappinner {
     padding: 134px 0px 150px 0;
     background-image: url('../images/footer/footerback.svg');
     background-repeat: no-repeat;
     background-size: auto;
     
}

.footer__wrapper {
     padding-right: 200px;
     max-width: 100%;
     width: 100%;
     display: flex;
     justify-content: end;
}

.footer__inner:not(:last-child) {
     margin-right: 157px;
}

.footer__title {
     font-weight: 700;
     font-size: 30.7143px;
     line-height: 43px;
     color: #fff;
     margin-bottom: 15px;
}

.footer__menublock {
     display: flex;
}



.footer__nav--ul {
     display: flex;
     flex-direction: column;
     list-style: none;
}


.footer__nav:not(:last-child) {
     margin-right: 60px;
}

.contact__b-none {
     border: none;
     transition: all .3s ease;
}

.contact__nav--border{
     padding: 5px;
     border: solid 2px #fff;
     border-radius: 3px;
     transition: all .3s ease;
}

.footer__nav--item {
     display: flex;
     align-items: center;
     font-weight: 400;
     font-size: 18px;
     line-height: 26px;
     color: #fff;
}

.footer__nav--item:not(:last-child) {
     margin-bottom: 25px;
}

.arrow--navigation {
     margin-right: 20px;
}

.footer__nav--link {
     position: relative;
     display: inline-block;
}


.footer__nav--link::after{
     display: block;
     content: "";
     height: 3px;
     width: 0%; 
     background-color: #fff;
     transition: width 0.4s ease-in-out;
}

.footer__nav--link:hover::after,
.footer__nav--link:focus::after{
     width: 100%;
}

.footer__nav--icon {
     margin-right: 8px;
}



/* responsive */


/* 991.98 px */

@media (max-width: 991.98px) {
     .header__nav {
          margin: 0 auto 0 0;
     }

     .hmenu__item {
          font-size: 30px;
     }

     /* .header__icon {
          max-width: 120%;
          width: 120%;
     } */
}

/* 767.98px */

@media (max-width: 767.98px) { 

     .header {
          padding: 45px 0 30px 0;
     }

     .hmenu__item {
          font-size: 34px;
     }

     .header__icon {
          max-width: 150%;
          width: 150%;
     }

     .header__link:not(:last-child) {
          margin-right: 24px;
      }

 }

 /* 575.98px */

 @media (max-width: 575.98px) { 
     .burger__menu--action {
          display: flex !important;
          max-width: 65px;
          width: 100%;
      }

     .burger__menu--item {
          max-width: 100%;
          height: 10px;
     }

     .burger__menu--item:not(:last-child) {
          margin-bottom: 14px;
     }

     .header__icon {
          max-width: 150%;
          width: 150%;
      }

     .header__link:not(:last-child) {
          margin-right: 34px;
     }

     .header-counter {
          bottom: -11px;
          right: 10px;
          padding: 3px 8px;
          font-size: 27px;
      }

     

     .burger__menu--openView {
          position: fixed;
          display: block;
          max-width: 100%;
          width: 0%;
          transition: width .5s ease;
     }

     

     .header__nav {
          display: none;
          transition: all 1s ease;
     }

     .hmenu__item {
          color: #fff;
     }

     .header__menu  {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 50px 0px 0px 50px;
     }

     .header__wrapper .header__nav {
          display: none; 
     }

     .hmenu__item:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 20px;
     }

     .hmenu__item {
          color: #fff;
     }
     

     .fa-circle--sett {
          color: #fff;
          font-size: 50px;
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
     }


     /* intro */ 

     .intro__wrapper {
          display: flex;
          flex-direction: column;
     }

     .intro__item:not(:last-child) {
          margin-bottom: 30px;
     }

     .intro__content {
          max-width: 100%;
          width: 100%;
          text-align: center;
          align-items: center;
     }

     .intro__title {
          font-weight: 700;
          font-size: 56px;
          line-height: 80px;
          margin-bottom: 30px;
          width: 100%;
      }

      .intro__btnbox {
          justify-content: center;
          margin-top: 30px;
      }

      .btn-active {
          padding: 42px 21px;
      }


     /* section__stats */

     .section__stats {
          padding: 30px 0;
     }

     .stats__wrapper {
          display: flex;
          flex-direction: column;
     }

     .stats__item {
          display: flex;
          flex-direction: column;
     }

     .stats__item:not(:last-child) {
          margin-right: 0;
          margin-bottom: 25px;
     }

     .stats__inner:not(:last-child) {
          margin-right: 0;
          margin-bottom: 25px;
     }


     /* Menu */

     .section__menu {
          padding: 30px 0 80px 0;
     }

     .menu__box-wrapper:not(:last-child) {
          margin-right: 0;
     }

     .menu__box {
          max-width: 90%;
          width: 100%;
          margin: 0 auto;
          padding: 52px 46px 110px 46px;

          display: flex;
          flex-direction: column;
     }

     .menu__row {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
          flex-wrap: wrap;
      }

      .menu__card {
          padding-right: 20px;
      }


     .menu__card:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 50px;
     }

     .menu--seeall {
          bottom: 28px;
          max-width: 80%;
          width: 100%;
     }

     .menu__search {
          left: 50%;
          transform: translateX(-50%);
          display: flex;
     }

     .menu__seeall--close {
          left: 87%;
          top: 80px;
      }

      .card__title {
          text-align: center;
          font-size: 19px;
      }

      .card__subtitle {
          text-align: center;
          font-size: 16px;
      }

      .stars__text {
          font-size: 16px;
      }


     /* customer */

     .section__customer {
          padding: 0px 0px 60px 0;
     }

     .customer__wrapper {
          display: flex;
          flex-direction: column;
     }

     .customer__slider {
          max-width: 440px;
          width: 100%;
      }

      .customer__item {
          max-width: 100%;
          width: 100%;
      }

      .customer__item--mt-resp {
          margin-top: 100px;
      }

      .customer__card {
          bottom: -130px;
          left: 0;
      }

      .customer__imgcontent {
          display: flex;
          flex-direction: column;
      }

      .customer__card--title {
          margin-bottom: 10px;
      }

      .customer__rating  {
          margin-bottom: 10px;
      }

      .customer__card {
          position: relative;
          bottom: 0;
          margin-top: 20px;
      }

      .slide {
          max-width: 100%;
          width: 100%;
      }

      .customer__slider {
          margin: 0 auto;
          text-align: center;
      }

      .slider__content {
          max-width: 320px;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 0 auto;
      }

      .slider__title {
          text-align: center;
          font-size: 51.4566px;
      }



      .slider__subtitle {
          text-align: justify;
          padding: 0 10px;
      }

      .slider__peopleblock {
          margin: 0 auto;
          align-items: center;
          text-align: center;
      }

      .slick-next {
          right: 100px !important;
      }

      .slick-prev {
          left: 80px !important;
      }

      .slick-arrow::before {
          padding: 10px !important;
      }

      .slick-prev, .slick-next {
          height: 0 !important;
      }


     /*Mobile*/

     .section__mobile {
          padding: 50px 0 60px 0;
      }



     .iphone--big {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          top: 20px;
     }

     .iphone--small {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          z-index: 5015;
          top: -350px;
     }

     .mobile__text {
          max-width: 100%;
          width: 100%;
          padding-right: 0px;
          margin: 0 auto;
          text-align: center;
          font-size: 53.1356px;
          line-height: 71px;
     }

     .section__mobile--inner {
          padding: 54px 0 60px 0;
      }

      .hamburger--rightside {
          bottom: 0px;
      }
     
      .section__padd-one {
          padding: 215px 0px 0px 0px;
      }



     /* about us */

     .aboutus__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
     }

     .aboutus__content {
          margin-right: 0;
     }

     .aboutus__content--card {
          position: static;
     }

     .aboutus--burgerright {
          right: 0;
          bottom: -160px;
     }



      



     /* footer */

     .footer__subscribeblock {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 30px 10px;
          top: -210px;
     }
     
     .footer__inputemail {
          border: solid 1px #90E051;
          border-radius: 8px;
          margin: 10px 0;
     }
     

     .footer__btn--sett {
          border-radius: 8px;
          max-width: 50%;
          width: 100%;
          margin-bottom: 20px;
     }

     .footer__form {
          display: flex;
          flex-direction: column;
          max-width: 100%;
          width: 100%;
          border: none;
     }

     .footer__wrappinner {
          background-size: cover;
          padding: 135px 0px 90px 0;
     }


     .footer__wrapper {
          padding-right: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
     }

     .footer__inner {
          text-align: center;
     }

     .footer__inner:not(:last-child) {
          margin-bottom: 20px;
          margin-right: 0;
     }

     .footer__menublock {
          display: flex;
          justify-content: center;
     }

     .footer__nav:not(:last-child) {
          margin-right: 0;
          margin-right: 25px;
     }
     

     .footer__title {
          text-align: center;
     }
     
}



